In [1]:
import json
with open('/Users/sofiawang/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [3]:
help(yelp_api.search_query)

Help on method search_query in module yelpapi.yelpapi:

search_query(**kwargs) method of yelpapi.yelpapi.YelpAPI instance
    Query the Yelp Search API.

    documentation: https://www.yelp.com/developers/documentation/v3/business_search

    required parameters:
        * one of either:
            * location - text specifying a location to search for
            * latitude and longitude

In [4]:
# use our yelp_api variable's search_query method to perform our API call
search_results = yelp_api.search_query(location='NY, NY',
                                       term='food')
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [5]:
search_results['total']

27300

In [6]:
import pandas as pd
biz= pd.DataFrame(search_results['businesses'])
biz.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,MGd6HFEq1ALD58XWNviSXw,time-out-market-new-york-brooklyn,Time Out Market New York,https://s3-media3.fl.yelpcdn.com/bphoto/Y41f8m...,False,https://www.yelp.com/biz/time-out-market-new-y...,552,"[{'alias': 'food_court', 'title': 'Food Court'}]",4.0,"{'latitude': 40.70342863348067, 'longitude': -...",[],$$,"{'address1': '55 Water St', 'address2': '', 'a...",+19178104855,(917) 810-4855,288.119008
1,nMyot99PkX5iYCdxHoRJqQ,ariari-new-york,ARIARI,https://s3-media1.fl.yelpcdn.com/bphoto/IQbVjJ...,False,https://www.yelp.com/biz/ariari-new-york?adjus...,267,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 40.727283504010266, 'longitude': ...",[],NaN,"{'address1': '119 1st Ave', 'address2': None, ...",+16464227466,(646) 422-7466,2530.901207
2,fVbUVAiLiGgLA_nxBFxyww,thursday-kitchen-new-york,Thursday Kitchen,https://s3-media2.fl.yelpcdn.com/bphoto/rNxrGd...,False,https://www.yelp.com/biz/thursday-kitchen-new-...,1808,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 40.72761, 'longitude': -73.98373}","[pickup, delivery]",$$,"{'address1': '424 E 9th St', 'address2': None,...",,,2617.644845
3,3UdlrH-tuVM0vy3ySh7bUw,jacobs-pickles-time-out-market-brooklyn-2,Jacob's Pickles Time Out Market,https://s3-media2.fl.yelpcdn.com/bphoto/8-aQ6G...,False,https://www.yelp.com/biz/jacobs-pickles-time-o...,112,"[{'alias': 'comfortfood', 'title': 'Comfort Fo...",4.5,"{'latitude': 40.70341672927573, 'longitude': -...",[delivery],$$,"{'address1': '55 Water St', 'address2': None, ...",+12124705566,(212) 470-5566,319.425646
4,miYWrEThPPhB7AW0A72WHw,silky-kitchen-brooklyn,Silky Kitchen,https://s3-media1.fl.yelpcdn.com/bphoto/Jf0cTl...,False,https://www.yelp.com/biz/silky-kitchen-brookly...,4,"[{'alias': 'chinese', 'title': 'Chinese'}]",4.5,"{'latitude': 40.692009, 'longitude': -73.986618}",[],NaN,"{'address1': '56 Willoughby St', 'address2': N...",+13475295693,(347) 529-5693,1627.613419

In [7]:
len(search_results['businesses'])

20

In [8]:
# add offset to our original api call
search_results = yelp_api.search_query(location='NY, NY',
                                       term='Pizza',
                                       offset = 20)

In [9]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,4h4Tuuc56YPO6lWfZ1bdSQ,joes-pizza-new-york-152,Joe's Pizza,https://s3-media4.fl.yelpcdn.com/bphoto/sUjegc...,False,https://www.yelp.com/biz/joes-pizza-new-york-1...,546,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.0,"{'latitude': 40.7101297729083, 'longitude': -7...","[pickup, delivery]",$,"{'address1': '124 Fulton St', 'address2': '', ...",+12122670860,(212) 267-0860,1245.942863
1,oJ_XSPZFpvIt6rvheSQl7A,bleecker-street-pizza-new-york,Bleecker Street Pizza,https://s3-media1.fl.yelpcdn.com/bphoto/uScs5H...,False,https://www.yelp.com/biz/bleecker-street-pizza...,2996,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.0,"{'latitude': 40.7320627016512, 'longitude': -7...","[pickup, delivery]",$,"{'address1': '69 7th Ave S', 'address2': None,...",+12129244466,(212) 924-4466,3073.574220

In [10]:
## concatenate the previous results and new results. 
businesses = pd.concat([biz, biz20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,MGd6HFEq1ALD58XWNviSXw,time-out-market-new-york-brooklyn,Time Out Market New York,https://s3-media3.fl.yelpcdn.com/bphoto/Y41f8m...,False,https://www.yelp.com/biz/time-out-market-new-y...,552,"[{'alias': 'food_court', 'title': 'Food Court'}]",4.0,"{'latitude': 40.70342863348067, 'longitude': -...",[],$$,"{'address1': '55 Water St', 'address2': '', 'a...",+19178104855,(917) 810-4855,288.119008
1,nMyot99PkX5iYCdxHoRJqQ,ariari-new-york,ARIARI,https://s3-media1.fl.yelpcdn.com/bphoto/IQbVjJ...,False,https://www.yelp.com/biz/ariari-new-york?adjus...,267,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 40.727283504010266, 'longitude': ...",[],NaN,"{'address1': '119 1st Ave', 'address2': None, ...",+16464227466,(646) 422-7466,2530.901207
2,fVbUVAiLiGgLA_nxBFxyww,thursday-kitchen-new-york,Thursday Kitchen,https://s3-media2.fl.yelpcdn.com/bphoto/rNxrGd...,False,https://www.yelp.com/biz/thursday-kitchen-new-...,1808,"[{'alias': 'korean', 'title': 'Korean'}, {'ali...",4.5,"{'latitude': 40.72761, 'longitude': -73.98373}","[pickup, delivery]",$$,"{'address1': '424 E 9th St', 'address2': None,...",,,2617.644845

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,affWh2WFSMayL04l9lr47g,roberta-s-brooklyn,Roberta’s,https://s3-media2.fl.yelpcdn.com/bphoto/POEX_n...,False,https://www.yelp.com/biz/roberta-s-brooklyn?ad...,14,"[{'alias': 'pizza', 'title': 'Pizza'}]",4.5,"{'latitude': 40.71613781459604, 'longitude': -...",[],NaN,"{'address1': '6 Grand St', 'address2': '', 'ad...",+17182782400,(718) 278-2400,2620.492306
38,Aazjxg21VH2cncWYBAv68Q,sottocasa-pizzeria-brooklyn-3,Sottocasa Pizzeria,https://s3-media2.fl.yelpcdn.com/bphoto/7lc4CS...,False,https://www.yelp.com/biz/sottocasa-pizzeria-br...,729,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.688285, 'longitude': -73.989006}",[delivery],$$,"{'address1': '298 Atlantic Ave', 'address2': N...",+17188528758,(718) 852-8758,1955.310589
39,afuiZyn9oOyyCpuW7wGfHQ,l-antica-pizzeria-da-michele-new-york,L’Antica Pizzeria da Michele,https://s3-media4.fl.yelpcdn.com/bphoto/ToekId...,False,https://www.yelp.com/biz/l-antica-pizzeria-da-...,121,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",4.5,"{'latitude': 40.737052, 'longitude': -74.001571}","[pickup, delivery]",$$$,"{'address1': '81 Greenwich Ave', 'address2': N...",+19295246682,(929) 524-6682,3560.290394